/*
	Global Reset
---------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
	background:transparent;
	border:0;
	font-size:100%;
	margin:0; padding:0;
	outline:0;
	vertical-align:baseline;
	font-family: Arial;
	color: #2a2a2a;
}   

html, body {
	height: 100%; 
}

table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
input [type="text"]{  }

html,body{}

ul,ol {}

ul li,ol li{}

table,table td{}

p{ margin: 0 0 12px 0; }

a{ color:#0066cc; }
a:active{}
a:visited{}
a:hover{ text-decoration: none; }

img { vertical-align: bottom; }

h1,h2,h3,h4,h5{
	font-weight: normal;	
	color: #2d2d2d;
	margin: 0 0 3% 0;
}

h1{ font-size: 160%; }
h2{ font-size: 140%; }
h3{ font-size: 130%; }
h4{ font-size: 110%; }
h5{ font-size: 100%; }

/*
	App wrap
---------------------------------------------*/
.app-layout{
	font-size: 13px;
	padding-top: 10px;
}

.app-layout .app-menu-bar{
	background: url('/bundles/encounters/images/bar-bg.png') repeat-x 0 -46px;
	margin:0 auto 10px auto;
	position: relative;
	height: 46px; width: 95%;	
}

.app-layout .app-menu-bar .l-rounder,
.app-layout .app-menu-bar .r-rounder{
	background: url('/bundles/encounters/images/bar-bg.png') repeat-x 0 0;
	position: absolute;
	top: 0px;
	height: 46px; width: 8px;
}

.app-layout .app-menu-bar .l-rounder{
	background-position: 0 0;
	left: -8px;
}

.app-layout .app-menu-bar .r-rounder{
	background-position: 0 -92px;
	right: -8px;
}

.app-layout .app-menu-bar .app-menu-bar-inner{
	height: 35px;
	padding: 5px 0;
}

.app-menu-bar-inner .info-meet{
	list-style: none; 
	margin: 0; 
	padding: 0 5px 0 0; 
	height: 35px;
}

.info-meet li {
	float: left;
	height: 35px;
	line-height:34px;
}

.info-meet li a{
	font-size: 15px;
	padding: 0 10px;
}

.info-meet li a:hover{
	background: url('/bundles/encounters/images/bg-menu.gif') repeat-x left top;
	display: block; float: left;
	height: 35px; line-height: 34px;
}

.info-meet li a:hover b{
	color: #fff;
	text-decoration: none;
}
.info-meet li a:hover i{
	color: #fff;
}

.info-meet li i{
	font-size: 11px;
	color: #666;
	font-style: normal;
}

.info-meet li a{
	text-decoration: none;
}

.info-meet li b{
	font-weight: normal;
	color: #0066cc;
	text-decoration: underline;
}


.info-meet li.item-popul b{
	color: #2a2a2a;
	font-weight: bold;
	text-decoration: none;
}

.info-meet li i.heart{
	background: url('/bundles/encounters/images/heart.png') 0 50% no-repeat;
	color: #ff6600;
	padding: 0 0 0 13px;
	text-decoration: none;
}

.info-meet li.item-popul {
	background: url('/bundles/encounters/images/separate-meet-menu.png') no-repeat left top;
	width: 160px;
	margin: 0;
}

.info-meet li.item-popul div{
	background: url('/bundles/encounters/images/speed.png') no-repeat left -2px;
	font-size: 11px;
	color: #635e4a;
	margin: 0 auto;
	height: 27px; width: 80px;
	padding: 7px 0 0 65px;
	line-height: 12px;
	cursor: pointer;
}

.info-meet li.item-setting{
	background: url('/bundles/encounters/images/separate-meet-menu.png') no-repeat left top;
	margin: 0;
}

.info-meet li.item-setting a{
	background: url('/bundles/encounters/images/bg-setting.png') no-repeat left top;
	display: block;
	width: 46px; height: 35px;
	padding: 0;
}

.info-meet li.item-setting a:hover,
.info-meet li.item-setting a:active,
.info-meet li.item-setting a.active{
	background-position: left bottom;
}

.info-meet li.item-energy{
	background: url('/bundles/encounters/images/separate-meet-menu.png') no-repeat left top;
	margin: 0; padding: 0 0 0 15px;
}

.info-meet li.item-energy i{
	font-size: 11px; color: #ff6600;
}

.info-meet li.item-energy b.battery{
	background: url('/bundles/encounters/images/battery-small.gif') no-repeat left top;
	display: inline-block;
	height: 17px; width: 38px; 
	margin: 0 4px 0 0;
	vertical-align: -5px; zoom: 1;
}

.info-meet li.item-energy b.battery b{
	background: url('/bundles/encounters/images/battery-load-small.gif') repeat-x left top;
	display: block;
	float: left;
	height: 11px; 
	margin: 3px 0 0 3px;
	
}

/*  App Start */

.app-main .app-set{
	background-color: #f4f4f4;
	border: 1px solid #f4f4f4;
	border-radius: 20px;
	-webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
	margin: 0 auto; padding:10px 20px;
	width: 410px;
}

.app-set .app-years{
	text-align: center;
}

.app-set label{
	display: block;
	margin: 0 0 15px 0; padding: 0 0 0 180px;
}

.app-set label input[type="radio"]{
	margin-top: 1px;  margin-right: 2px;
	vertical-align:top; 
	height: 13px; width: 13px;
}

.app-set .app-years,
.app-set .send{
	text-align: center;
	margin: 0 0 20px 0;
}

.app-set .send{
	margin: 0 0 10px 0;
}

.app-set .send input[type="submit"]{
	background: url('/bundles/encounters/images/btn-start.png') no-repeat center center;
	border: 0px;
	font-size: 20px;
	padding:8px 20px;
	color: #419801;
	cursor: pointer;
}

.app-main{
	position: relative;
}

.app-block-no-popular{
	background-color: #ff6600;
	border-radius: 5px;
	width: 96%;
	margin: 20px auto 5px auto;
	position: relative;
}

.app-block-no-popular .arrow{
	background:none;
	position: absolute;
	left: 65%; top: -18px;
	margin-left: -9px;
	border: 9px solid transparent;
	border-bottom: 9px solid #fc6500;
	height:0; width:0;
}

.app-block-no-popular .info-block{
	padding: 17px 22px;
	color: #fff;
}

.app-block-no-popular .info-block .photo{
	background: url('/bundles/encounters/images/bg-user-photo.gif') no-repeat center center;
	float: left;
	height: 62px; width: 46px;
	padding: 3px 4px 5px;
}

.app-block-no-popular .info-block .message{
	margin: 0  0 0 70px;
}

.info-block .message .message-alert{
	font-size: 24px; color: #fff;
	margin:4px 0 11px;
}

.info-block .message .message-help{
	font-size: 18px; color: #fff;
}

.info-block .message .message-help a {
	background: url('/bundles/encounters/images/message-help.png') no-repeat left top;
	padding: 6px 12px;
	color: #444;
	text-decoration: none;
}

.app-page .app-title,
.app-set .app-title{
	font: bold italic 24px/50px Georgia;
	margin: 0 0 10px 0;
	text-align: center;
}

.app-meet-button{
	height: 42px; width: 392px;
	margin: 0 auto 15px auto;
}

.app-meet-button a{
	background:#fff url('/bundles/encounters/images/app-meet-button.png') 0 0 no-repeat;
	display: block;
	float: left;
	font-size: 20px;
	line-height: 41px;
	height: 42px;
	text-align:center;
	text-decoration: none;
	text-shadow: 0px 1px 1px #fff;
	filter: dropshadow(color=#fff, offx=0, offy=1);
}

.app-meet-button a:active{
	line-height: 43px;
}

.app-meet-button a.app-menu1{
	background-position: 0 0;
	width: 131px;
	color: #419801;
}

.app-meet-button a.app-menu1:hover {
	background-position: 0 -42px
}

.app-meet-button a.app-menu1:active {
	background-position: 0 -84px
}

.app-meet-button a.app-menu2{
	background-position: -131px 0;
	width: 130px;
	color:#767676;
}

.app-meet-button a.app-menu2:hover {
	background-position: -131px -42px;
}

.app-meet-button a.app-menu2:active {
	background-position: -131px   -84px;
}
.app-meet-button a.app-menu3{
	background-position: -261px 0;
	width: 131px;
	color:#ff0000;
}

.app-meet-button a.app-menu3:hover {
	background-position: -261px -42px;
}

.app-meet-button a.app-menu3:active {
	background-position: -261px -84px
}

.app-meet-button a:hover,
.app-meet-button a:active{
	color: #fff;
	text-shadow: 0 0 0 #fff;
	filter: none;
}

.app-see-block {
	text-align: center;
}

.app-info-user{
	font-size: 11px;
	text-align: center;
	margin: 0 0 10px 0;
}

.app-info-user a{
	color: #2a2a2a;
	text-decoration: none;
}

.app-lenta{
	text-align: center;
	margin: 0 0 10px 0;
}

.app-lenta .app-lenta-img{
	display: inline-block;
	max-width: 450px;
	box-shadow: 0 0 2px #666666;
	height: 80px;
}

.app-lenta .app-lenta-img a{
	display: inline-block;
	height: 62px;
	width: 46px;
	padding: 9px 10px;
	background-repeat: no-repeat;
	background-position: center center;
}

.app-lenta .app-lenta-img a.select{
	background-color: #fdefcb;
}

.app-info-user .ico{
	background: url('/bundles/encounters/images/app-sex.png') no-repeat left top;
	display: inline-block;
	height:10px; width: 11px;
	vertical-align: middle;
}

.app-info-user .ico.male{
	background-position: 0 0;
}

.app-info-user .ico.female{
	background-position: -11px 0;
}

.app-image-member {
	background: url('/bundles/encounters/images/ajax-loader.gif') no-repeat center center;
	margin: 20px auto;
	min-height: 66px;
}

.app-image-member .app-image {
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 auto;
	cursor: pointer;
}

.app-image-member .app-image{
	box-shadow: 0 0 2px #666;
	padding: 4px;
}


.app-layer {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 0 10px #666;
	position: absolute; 
	left: 50%; top: 0px;
	padding: 20px 0;
	margin: 0 0 0 -275px;
	width:510px;
	display: none;
}

.app-layer .app-layer-wrap {
	padding: 0 20px;
	position:relative;
	z-index: 20;
}

.ie-shadow{
	display:none;
}

.app-layer .close {
	background: url('/bundles/encounters/images/close.gif') no-repeat left top;
	display: block;
	position:absolute;
	height: 20px; width: 21px;
	right: 10px; top: 10px;
}

.layer-pop-up {
	background: url('/bundles/encounters/images/speed.jpg') no-repeat center 40px;
	padding: 43px 0 20px 0; 
}

.layer-pop-up .title{
	background: url('/bundles/encounters/images/title-popular.gif') no-repeat center top;
	text-indent: -330em; margin: 80px 0 30px 0;
	height: 36px; 
}

.layer-pop-up p{
	font-size: 18px; 
	text-align: center;
	margin: 0 0 25px 0;
}

.layer-pop-up .center,
.layer-energy .center{
	text-align: center;
	margin: 0;
}

.layer-energy{
	padding: 0 0 20px 0;
}

.layer-energy .title{
	background: url('/bundles/encounters/images/title-buy.gif') no-repeat center top;
	text-indent: -330em; margin: 30px 0;
	height: 37px; 
}

.layer-energy .battery-big{
	background: url('/bundles/encounters/images/battery.gif') no-repeat left top;
	height: 74px; width: 167px; 
	margin: 0 auto;
}

.layer-energy .battery-big b{
	background: url('/bundles/encounters/images/battery-load.gif') repeat-x left top;
	position: relative;
	left: 12px; top: 13px;
	display: block;
	height: 48px; 
}

.layer-energy .info-battery{
	background-color: #fff1d2;
    border-radius: 5px 5px 5px 5px;
    display: block;
    margin: 20px auto 5px; padding: 10px;
    position: relative;
    width: 96%;
}

.layer-energy .info-battery .arrow{
	background:none;
	position: absolute;
	left: 49%; top: -18px;
	margin-left: -9px;
	border: 9px solid transparent;
	border-bottom: 9px solid #fff1d2;
	height:0; width:0;
}

.layer-energy .info-block{
	overflow: hidden; margin: 0 0 40px 0;
}

.layer-energy .info-block .photo{
	float: left;
	height: 62px; width: 46px;
}

.layer-energy .info-block .message{
	margin: 0 15px 0 70px; padding:8px 0 0 0;
	font-size: 18px;
}


.layer-no .title{
	background: url('/bundles/encounters/images/title-say-no.gif') no-repeat center top;
	text-indent: -330em; margin:10px 0 30px 0;
	height: 37px; 
}

.layer-no .photo,
.layer-maybe .photo,
.layer-yes .photo,
.layer-not-see-yet .photo{
	margin: 20px 0;
	text-align:center;
}

.content-center{
	text-align: center;
	margin: 0 100px 20px 100px;
	font-size: 18px;
}

.center{
	text-align: center;
	position: relative;
}

.center .close{
	background: url('/bundles/encounters/images/close.png') no-repeat left top;
	height: 27px; line-height: 26px;
	width: 112px;
	position:static;
	display: inline-block;
	text-decoration: none; 
	color: #000;
	font-size:15px;
}

.center .see{
	background: url('/bundles/encounters/images/see.png') no-repeat left top;
	height: 27px; line-height: 26px;
	width: 151px;
	position:static;
	display: inline-block;
	text-decoration: none; 
	color: #018d0e;
	font-size:15px;
}


.layer-maybe .title{
	background: url('/bundles/encounters/images/title-say-maybe.gif') no-repeat center top;
	text-indent: -330em; margin:10px 0 30px 0;
	height: 37px; 
}

.layer-maybe .center .close,
.layer-yes .center .close{
	position: absolute;
	right: 0px; top: 0px;
}

.layer-yes .title{
	background: url('/bundles/encounters/images/title-say-yes.gif') no-repeat center top;
	text-indent: -330em; margin:10px 0 30px 0;
	height: 37px; 
}

.layer-not-see-yet {
	display:none;	
}

.layer-not-see-yet .title{
	background: url('/bundles/encounters/images/title-not-see.gif') no-repeat center top;
	text-indent: -330em; margin:10px 0 30px 0;
	height: 37px; 
}

.coint{
	background: url('/bundles/encounters/images/coint.png') no-repeat left top;
	display: inline-block;
	width: 13px; height: 12px;
}



.ui-btn {
	background: #52a80a url("/bundles/encounters/images/ui-btn.png") 0 -2px repeat-x;
	border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;
	border: 1px solid #5fc10e;
	box-shadow: inset 0 0 1px #fff; -moz-box-shadow: inset 0 0 1px #fff; -webkit-box-shadow: inset 0 0 1px #fff;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	display: inline-block; -display: inline;
	font-size: 13px;
	height: 23px;
	line-height: 24px;
	margin: 0 auto;
	outline: none;
	overflow: visible;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px #4d9115;
	transition: background-color .25s linear; -moz-transition: background-color .25s linear; -o-transition: background-color .25s linear; -webkit-transition: background-color .25s linear;
	vertical-align: top;
}

.ui-btn:hover {
	background-color: #5cbd0b;
	border-color: #58a519;
}
.ui-btn:active {
	background-color: #4a9709;
	transition: none; -moz-transition: none; -o-transition: none; -webkit-transition: none;
}

.ui-btn-big {
	background-position: 0 0;
	font-size: 16px;
	height: 27px;
	line-height: 27px;
	padding: 0 20px;
}