<div class="layer-repeatable-no" style="display: none;">
    <div class="title"></div>
    <div class="arrowed-info-block"><i class="arrow"></i><span></span>, при такой скорости, с которой вы подряд жмете «нет», просто невозможно никого разглядеть. Выбирайте внимательней, не пропустите свою любовь! :)</div>
    <div class="center" style="margin-top:35px;">
        <a href="#" class="close">Продолжить</a>
    </div>
</div>