<div class="layer-yes" style="display: none;">
    <div class="title{% if webuser.preferences.gender == 'F' %} female{% else %} male{% endif %}">{% if webuser.preferences.gender == 'F' %}Она ответила{% else %}Он ответил{% endif %} да</div>
    <div class="photo"><img/></div>
    <div class="content-center"><a href="#"></a> {% if webuser.preferences.gender == 'F' %}ответила{% else %}ответил{% endif %} &laquo;да&raquo; на&nbsp;предложение встретиться&nbsp;с&nbsp;вами
    </div>
    <div class="center"><a href="#" class="close">Закрыть окно</a><a target="_blank" class="see">Показать ее анкету</a>
    </div>
</div>