<div class="layer-level-achievement" style="display: none;">
    <div class="level"></div>
    <div class="message"></div>
    <div class="info-battery"><i class="arrow"></i> Чем выше уровень — тем больше просмотров и оценок, тем больше шанс, что ваша любовь найдет вас!</div>
    {#<p class="center" style="margin-top:18px;"><b class="battery">+1 деление в подарок</b></p>#}
    {#<p class="_close center" style="margin-top:20px;">#}
        {#<a href="#" class="close">Закрыть окно</a>#}
    {#</p>#}

    <div class="_tell center" style="margin-top:20px;">
        <a style="position: absolute;right:0;top:0;" href="#" class="close">Закрыть окно</a>
        <a href="#" class="see">Рассказать друзьям</a>
    </div>
</div>