<div class="layer-energy" style="display: none;">
    <div class="info-block">
        <div class="photo"><img
                src="http://face.lovesupport.ru/7/1/9/658217719/733095236_small_face.jpg?updated=20120121125815">
        </div>
        <div class="message">
            У вас недостаточно энергии для того, чтобы узнать, видела ли Daria ваши фото
        </div>
    </div>
    <div class="battery-big"><b style="width: 10%;"></b></div>
    <div class="info-battery"><i class="arrow"></i> Энергия иллюстрирует гештальт, как и предсказывают
        практические аспекты использования принципов в области восприятия
    </div>
    <div class="title">Купить себе энергий</div>

    <form>
        <p class="center"><a href="#" class="ui-btn ui-btn-big">Купить 100% энергии за 1<i class="coint"></i></a></p>
    </form>
</div>