<div class="layer-not-see-yet" style="display: none;">
    <div class="title">Она еще не видела твоих фоток</div>
    <div class="photo"><img src="styles/images/people.jpg"/></div>
    <div class="content-center">Станьте первыми в списке просматриваемых ею фото</div>
    <div class="center"><a href="#" class="ui-btn ui-btn-big">Стать первым за 1<i class="coint"></i></a></div>
</div>