<div class="layer-send-gift" style="display: block;">
    <div class="title-present">Отправьте подарок!</div>

    {% if gifts|length > 1 %}
    <ul class="ui-tabs">
        {#<li class="ui-tabs_item ui-tabs_item-active"><span class="ui-tabs_item-link">Вкусности</span></li>#}
        {#<li class="ui-tabs_item"><span class="ui-tabs_item-link" href="">Гламурные</span></li>#}
        {#<li class="ui-tabs_item"><span class="ui-tabs_item-link" href="">Новогодние</span></li>#}

        {% for id, collection in gifts %}
            <li class="ui-tabs_item"><span class="ui-tabs_item-link" href="">{{ collection.name }}</span></li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="ui-tabs_content">
        <div id="tab-1" class="ui-tabs_panel" style="display: block">
            <ul class="list-present">
                {% for id, collection in gifts %}
                    {% for id, gift in collection.gifts %}
                        <li class="list-present_item">
                            <span class="list-present_content">
                                <img src="{{ gift.url }}" class="list-present_img">
                                <span class="list-present_cost">{{ gift.cost }} </span>
                            </span>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div id="tab-2" class="ui-tabs_panel">2</div>
        <div id="tab-3" class="ui-tabs_panel">3</div>
    </div>

    <div class="form-send form-send_gift">
        <form action="#" method="post">
            <input type="hidden" id="preset_id" value="" />
            <div class="input">
                <textarea class="input_i" placeholder="Напишите комплимент, например: «Ты почти что шикарная женщина»"></textarea>
            </div>
            <input type="submit" value="Отправить" class="button">
            <span class="form_label">Enter</span>
        </form>
    </div>

</div>