<div class="layer-maybe" style="display: none;">
    <div class="title{% if webuser.preferences.gender == 'F' %} female{% else %} male{% endif %}">{% if webuser.preferences.gender == 'F' %}Она ответила{% else %}Он ответил{% endif %} возможно</div>
    <div class="photo"><img/></div>
    <div class="content-center"><a target="_blank"></a> {% if webuser.preferences.gender == 'F' %}ответила{% else %}ответил{% endif %} &laquo;возможно&raquo; на&nbsp;предложение встретиться с&nbsp;вами</div>
    <div class="center"><a class="close">Закрыть окно</a><a target="_blank" class="see">Показать ее анкету</a>
    </div>
</div>