<div class="layer-everyday-gift" style="display: none;">
    <div class="title">Ваш ежедневный бонус!</div>
    <div class="info-battery"><i class="arrow"></i> Получайте еще больше бонусных сердечек, <br>играя в &laquo;Выбиратор&raquo; каждый день!</div>
    <div class="bonus"></div>

    <p class="center">
        <a href="#" class="ui-btn ui-btn-big">Получить бонус!</a>
    </p>
</div>