<div class="layer-repeatable-maybe" style="display: none;">
    <div class="title"></div>
    <div class="info-battery"><i class="arrow"></i><span></span>, «возможно» — это ни «нет» и ни «да». Представьте, что будет, если все пользователи будут жать «возможно», черт-те что же получится! </div>
    <div class="center" style="margin-top:35px;">
        <a href="#" class="close">Продолжить</a>
    </div>
</div>