<div class="layer-mutual" style="display: none;">
    <div class="title{% if webuser.preferences.gender == 'F' %} female{% else %} male{% endif %}">{% if webuser.preferences.gender == 'F' %}Она{% else %}Он{% endif %} тоже хочет встретиться с вами!</div>
    <div class="content-center"><a target="_blank" href="#"></a>  тоже хочет встретиться с вами!</div>
    <div class="photo"><div class="z"></div><div class='web'></div><div class='current'></div></div>
    <div class="center"><a href="#" class="close">Закрыть окно</a><a target="_blank" class="see">Показать {% if webuser.preferences.gender == 'F' %}ее{% else %}его{% endif %} анкету</a>
    </div>
</div>