<div class="layer-multi-gift" style="display: block;">
    <div class="title"></div>
    <div class="photos"></div>
    <div class="select_all">
        <a>выбрать всех/никого</a>
    </div>
    <form>
        <p class="center">
            <a href="#" class="ui-btn ui-btn-big">Подарить бесплатно</a>
        </p>
    </form>
</div>