<div class="layer-account" style="display: none;">
    <div class="title"></div>
    <div class="info-battery">
        <i class="arrow"></i>

        <div class="row">
            <div class="hearts">300<i class="account-red-big-heart"></i></div>
            <div class="coins"><a href="#" hearts="300" coins="25" class="ui-btn ui-btn-big">Купить за 25<i class="coint"></i></a></div>
            <div class="bonus"><i class="account-thumbs-up"></i>&nbsp;&nbsp;<span><b>+50</b><i class="account-red-small-heart"></i> в подарок!</span></div>
        </div>

        <div class="row">
            <div class="hearts">125<i class="account-red-big-heart"></i></div>
            <div class="coins"><a href="#" hearts="125" coins="10" class="ui-btn ui-btn-big">Купить за 10<i class="coint"></i></a></div>
            <div class="bonus"><i class="account-thumbs-up"></i>&nbsp;&nbsp;<span><b>+25</b><i class="account-red-small-heart"></i> в подарок!</span></div>
        </div>

        <div class="row">
            <div class="hearts">50<i class="account-red-big-heart"></i></div>
            <div class="coins"><a href="#" hearts="50" coins="5" class="ui-btn ui-btn-big">Купить за 5<i class="coint"></i></a></div>
            {#<div class="bonus">bonus</div>#}
        </div>

        <div class="row">
            <div class="hearts">20<i class="account-red-big-heart"></i></div>
            <div class="coins"><a hearts="20" coins="2" href="#" class="ui-btn ui-btn-big">Купить за 2<i class="coint"></i></a></div>
            {#<div class="bonus"></div>#}
        </div>

        <div class="row">
            <div class="hearts">10<i class="account-red-big-heart"></i></div>
            <div class="coins"><a hearts="10" coins="1" href="#" class="ui-btn ui-btn-big">Купить за 1<i class="coint"></i></a></div>
            {#<div class="bonus">bonus</div>#}
        </div>
    </div>
</div>