<div class="layer-yes">
    <div class="title">Она ответила да</div>
    <div class="photo"><img src="styles/images/people.jpg"/></div>
    <div class="content-center"><a href="#">Daria</a> ответила «да» на&nbsp;предложение&nbsp;встретиться&nbsp;с&nbsp;вами
    </div>

    <div class="center"><a href="#" class="close">Закрыть окно</a><a href="#" class="see">Показать ее анкету</a>
    </div>
</div>