<div class="layer-yes" style="display: none;">
    <div class="title{% if webuser.preferences.gender == 'F' %} female{% else %} male{% endif %}">{% if webuser.preferences.gender == 'F' %}Она ответила{% else %}Он ответил{% endif %} да</div>
    <div class="content-center"><a{# target="_blank"#} href="#"></a> {% if webuser.preferences.gender == 'F' %}ответила{% else %}ответил{% endif %} &laquo;да&raquo;<br>на&nbsp;предложение встретиться&nbsp;с&nbsp;вами</div>

    <div class="arrowed-info-block">
        <i class="arrow"></i>
        <div class="info">
            <div class="face"><img/></div>
            <div class="name"><a{# target="_blank"#} href=""></a> <i class="ico"></i></div>
            <div class="location"></div>
            <div class="age"></div>
            <div class="lookingfor"><strong>Познакомится</strong>:<br><span>&mdash;</span></div>
            <a href="#" class="ui-btn ui-btn-big" style="margin-top: 13px;">Написать сообщение</a>
        </div>
    </div>
</div>