<div class="layer-energy" style="display: none;">
    <div class="info-block">
        <div class="photo"><img/></div>
        <div class="message">У вас недостаточно энергии для того, чтобы&nbsp;узнать, {% if webuser.preferences.gender == 'F' %}видела{% else %}видел{% endif %} ли <span class='name'></span> ваши фото</div>
    </div>
    <div class="battery-big"><!-- <b style="width: 10%;"></b> --></div>
    <div class="info-battery"><i class="arrow"></i> Батарейка заряжается от вашей внутренней энергии в тот момент, когда вы оцениваете фотографии. Заряжается потому, что вы, {{ webuser.anketa.info.name }}, очень харизматичны.</div>
    <div class="title">Купить себе энергию!</div>
    <form>
        <p class="center"><a href="#" class="ui-btn ui-btn-big">Купить 100% энергии за 1<i class="coint"></i></a></p>
    </form>
</div>