<div class="app-layer" style="display: none;">
    <a href="#" class="close"></a>
    <b class="ie-shadow">
        <b class="tl"><b></b></b><b class="tr"><b></b></b><b class="bl"><b></b></b><b class="br"><b></b></b><b class="tb"><b></b></b><b class="rb"><b></b></b><b class="lb"><b></b></b><b class="bb"><b></b></b>
    </b>

    <div class="app-layer-wrap">
        {% include 'EncountersBundle:layers:layer-get-popular.html.twig' %}
        {% include 'EncountersBundle:layers:layer-energy.html.twig' %}
        {% include 'EncountersBundle:layers:layer-answer-no.html.twig' %}
        {% include 'EncountersBundle:layers:layer-answer-maybe.html.twig' %}
        {% include 'EncountersBundle:layers:layer-answer-yes.html.twig' %}
        {% include 'EncountersBundle:layers:layer-not-see-yet.html.twig' %}
        {% include 'EncountersBundle:layers:layer-mutual.html.twig' %}
        {% include 'EncountersBundle:layers:layer-battery.html.twig' %}
        {% include 'EncountersBundle:layers:layer-user-info.html.twig' %}
        {% include 'EncountersBundle:layers:layer-level.html.twig' %}
        {% include 'EncountersBundle:layers:layer-level-achievement.html.twig' %}
        {% include 'EncountersBundle:layers:layer-repeatable-yes.html.twig' %}
        {% include 'EncountersBundle:layers:layer-repeatable-maybe.html.twig' %}
        {% include 'EncountersBundle:layers:layer-repeatable-no.html.twig' %}
        {% include 'EncountersBundle:layers:layer-account.html.twig' %}
    </div>
</div>