<div class="layer-level" style="display: none;">
    <div class="level"></div>
    <div class="bar">
        <div class="current-background"></div>
        <div class="current"></div>
        <div class="speedo-background"></div>
        <div class="speedo"></div>
        <div class="next"></div>
        <div class="next-background"></div>
    </div>
    <div class="info-battery"><i class="arrow"></i> Чем выше уровень — тем больше просмотров и оценок, тем больше шанс, что ваша любовь найдет вас!</div>

    <p class="_buy center" style="margin-top:30px;"><a href="#" class="ui-btn ui-btn-big">Перейти на n-й уровень за 1<i class="coint"></i></a></p>

    <div class="_tell center" style="margin-top:20px;">
        <a style="position: absolute;right:0;top:0;" href="#" class="close">Закрыть окно</a>
        <a href="#" class="see">Рассказать друзьям</a>
    </div>
</div>