<div class="layer-sharing-confirm" style="display: none;">
    <div class="title"></div>
    <div class="info-battery"><i class="arrow"></i>
        В этом случае, выбранные вами пользователи будут<br>оценивать ваши фото в общей очереди, без приоритета
    </div>
    <form>
        <p class="center">
            <a href="#" class="ui-btn ui-btn-big">Сообщать о моих оценках</a>
        </p>
    </form>
</div>