<div class="layer-multi-gift" style="display: block;">
    <div class="title"></div>
    <div class="photos photos-expanded">
        <div class="item">
            <div class="pseudo"><a>Еще<br>17</a></div>
            <input type="checkbox">
        </div>
        <div class="item">
            <img src="http://188.93.58.102/45/85/10/560015854/748403851_small.jpg?updated=1349725346">
            <input type="checkbox">
        </div>
        <div class="item">
            <img src="http://188.93.58.102/45/85/10/560015854/748403851_small.jpg?updated=1349725346">
            <input type="checkbox">
        </div>
        <div class="item">
            <img src="http://188.93.58.102/45/85/10/560015854/748403851_small.jpg?updated=1349725346">
            <input type="checkbox">
        </div>
        <div class="item">
            <img src="http://188.93.58.102/45/85/10/560015854/748403851_small.jpg?updated=1349725346">
            <input type="checkbox">
        </div>
        <div class="item">
            <img src="http://188.93.58.102/45/85/10/560015854/748403851_small.jpg?updated=1349725346">
            <input type="checkbox">
        </div>
        <div class="item">
            <img src="http://188.93.58.102/45/85/10/560015854/748403851_small.jpg?updated=1349725346">
            <input type="checkbox">
        </div>
        <div class="item">
            <img src="http://188.93.58.102/45/85/10/560015854/748403851_small.jpg?updated=1349725346">
            <input type="checkbox">
        </div>
        <div class="item">
            <img src="http://188.93.58.102/45/85/10/560015854/748403851_small.jpg?updated=1349725346">
            <input type="checkbox">
        </div>
        <div class="item">
            <img src="http://188.93.58.102/45/85/10/560015854/748403851_small.jpg?updated=1349725346">
            <input type="checkbox">
        </div>
        <div class="item">
            <img src="http://188.93.58.102/45/85/10/560015854/748403851_small.jpg?updated=1349725346">
            <input type="checkbox">
        </div>
        <div class="item">
            <img src="http://188.93.58.102/45/85/10/560015854/748403851_small.jpg?updated=1349725346">
            <input type="checkbox">
        </div>
        <div class="item">
            <img src="http://188.93.58.102/45/85/10/560015854/748403851_small.jpg?updated=1349725346">
            <input type="checkbox">
        </div>

    </div>

    <div class="select_all">
        <a>выбрать всех/никого</a>
    </div>

    <form>
        <p class="center">
            <a href="#" class="ui-btn ui-btn-big">Подарить бесплатно</a>
        </p>
    </form>
</div>