<div class="layer-pop-up" style="display: none;">
    <div class="title">Станьте популярней</div>
    <p>Получите 100 дополнительных показов<br/> — любовь найдет вас быстрее!</p>
    <form>
        <p class="center"><a href="#" class="ui-btn ui-btn-big">Получить 100 показов за 3<i class="account-heart"></i></a></p>
    </form>
</div>