<div class="layer-energy" style="display: none;">
    <div class="info-block">
        <div class="photo"><img/></div>
        <div class="message">У вас недостаточно энергии для того, чтобы&nbsp;узнать, {% if webuser.preferences.gender == 'F' %}видела{% else %}видел{% endif %} ли <span class='name'></span> ваши фото</div>
    </div>
    <div class="battery-big"><!-- <b style="width: 10%;"></b> --></div>
    <div class="arrowed-info-block"><i class="arrow"></i> Энергия батарейки нужна для того, чтобы знать как вас оценивают другие пользователи</div>
    <div class="title">Купить себе энергию!</div>
    <form>
        <p class="center"><a href="#" class="ui-btn ui-btn-big">{#Получить 100% энергии за 10<i class="account-heart"></i>#}</a></p>
    </form>
</div>