<div class="layer-profile-photos" style="display: block;">
    <div class="photo-col">Фото 1 из 5</div>
    <div class="photo-image">
        <a class="photo-image_arrow arrow-left" href=""></a>
        <a class="photo-image_arrow arrow-right" href=""></a>
        <div class="photo-image_in">
            <img src="temp/1.jpg" alt="" />
            <img src="temp/1.jpg" alt="" />
            <img src="temp/1.jpg" alt="" />
            <img src="temp/1.jpg" alt="" />
        </div>
    </div>
</div>