<div class="layer-sharing-reminder" style="display: none;">
    <div class="title"></div>
    <div class="info-battery"><i class="arrow"></i> <div style="margin-top:3px;margin-bottom:10px;"><label><input type="checkbox"><strong>Сообщить об оценке</strong></label></div>
        Отметьте «Сообщить об оценке», если хотите, чтоб он(а)<br/>
        быстрее узнал(а) о вашем выборе и оценила вас!</div>
    <form>
        <p class="center">
            <a href="#" class="ui-btn ui-btn-big">Сообщать о моих оценках</a>
        </p>
    </form>
</div>