<div class="layer-user-info" style="display: none;">
    <div class="info">
        <div class="face"><img/></div>
        <div class="name"><a target="_blank" href=""></a> <i class="ico"></i></div>
        <div class="location"></div>
        <div class="age"></div>
        <div class="lookingfor"><strong>Познакомится</strong>:<br><span>&mdash;</span></div>
        <a href="#" class="ui-btn ui-btn-big" style="margin-top: 13px;">Написать сообщение</a>
    </div>
</div>