<div class="layer-repeatable-yes" style="display: none;">
    <div class="title"></div>
    <div class="info-battery"><i class="arrow"></i><span></span>, вы действительно хотите встретиться со всеми девушками сайта? Даже если ваши свидания будут длиться не более 10-и минут, вам потребуется 14 тысяч дней!</div>
    <div class="center" style="margin-top:35px;">
        <a href="#" class="close">Продолжить</a>
    </div>
</div>