<div class="layer-photoline-purchase" style="display: none;">
    <div class="title">
        <img/>
    </div>
    <div class="info-battery">
        <i class="arrow"></i>
        <textarea placeholder="Приветствие или комментарий"></textarea>
        <p class="center">
            <a href="#" class="ui-btn ui-btn-big">Добавить себя в ленту за 1<i class="account-heart"></i></a>
        </p>
    </div>
</div>