<div class="layer-no">
    <div class="title">Она ответила нет</div>
    <div class="photo"><img src="styles/images/people.jpg"/></div>
    <div class="content-center">К сожалению, Daria ответила «нет» на предложение встретиться с вами</div>
    <div class="center"><a href="#" class="close">Закрыть окно</a></div>
</div>