<div class="layer-no" style="display: none;">
    <div class="title{% if webuser.preferences.gender == 'F' %} female{% else %} male{% endif %}">{% if webuser.preferences.gender == 'F' %}Она ответила{% else %}Он ответил{% endif %} нет</div>
    {#<div class="photo"><img/></div>#}
    <div class="content-center">К сожалению,&nbsp;<span class='name'></span>&nbsp;{% if webuser.preferences.gender == 'F' %}ответила{% else %}ответил{% endif %}&nbsp;«нет» на&nbsp;предложение встретиться с&nbsp;вами</div>
    {#<div class="center"><a href="#" class="close">Закрыть окно</a></div>#}

    <div class="arrowed-info-block">
        <i class="arrow"></i>
        <div class="info">
            <div class="face"><img/></div>
            <div class="name"><a{# target="_blank"#} href=""></a> <i class="ico"></i></div>
            <div class="location"></div>
            <div class="age"></div>
            <div class="lookingfor"><strong>Познакомится</strong>:<br><span>&mdash;</span></div>
            <a href="#" class="ui-btn ui-btn-big" style="margin-top: 13px;">Написать сообщение</a>
        </div>
    </div>
</div>