{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Encounters{% endblock %}</title>
    {% stylesheets '@EncountersBundle/Resources/public/css/*' filter="?yui_css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% javascripts
    '@EncountersBundle/Resources/public/js/core/*'
    '@EncountersBundle/Resources/public/js/tools/*'
    '@EncountersBundle/Resources/public/js/pages/*'
    '@EncountersBundle/Resources/public/js/elements/*'
    filter="?yui_js"
%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
<div id="menu">
    {% block menu %}
    <ul>

        <li><a href="/game">Игра</a></li>
        <li><a href="/mychoice">Я выбрал</a></li>
        <li><b>Меня смотрели</b></li>
        <li><a href="/mutual">Взаимные</a></li>
        <li><a href="/profile">Профиль</a></li>

    </ul>
    {% endblock %}
</div>

<div id="content">
    {% block body %}
        <h1>Меня смотрели</h1>
        Я ниибацца популярен, еба!
    {% endblock %}
</div>
<script>
    $debug = true;
    $App.init(location.pathname).run();
</script>
</body>
</html>