<div class="photoline">
    <div class="l-rounder"></div>
    <div class="r-rounder"></div>
    <a class="add" title="Добавить себя за 1 сердечко"></a>
    <div class="lenta"><a class="pusher"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></a></div>
</div>