{% extends 'EncountersBundle:templates:admin.layout.html.twig' %}
{% block title %}Админка Выбиратора{% endblock %}

{% block content %}
    <h2>Админка Выбиратора</h2>

    Воспользуйтесь навигацией для получения подробной информации.
{% endblock %}