{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Биллинг{% endblock %}

{% block body %}
<div class="content">
    <div class="none">
        <div class="title">Оплата</div>
        <div class="info">После успешной оплаты и до оказания услуги<br> может пройти некоторое время<br><br><a href="/search" class="button billing">&larr;&nbsp;&nbsp;Вернуться назад&nbsp;</a></div>
    </div>
</div>

{% include 'EncountersBundle:layers:layers.html.twig' %}
{% endblock %}