{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Взаимные{% endblock %}

{% block body %}
<div class="content">

    {% if data != null %}
    <div class="none">
        <div class="title">Вы еще ни с кем не сопали</div>
        <div class="info">Как только кто-то ответит вам взаимностью, <br>мы бросим все дела и сразу же сообщим<br> вам об этом!<br><br><a href="/search" class="button long">Начните смотреть и оценивать прямо сейчас</a><div style="padding-top:15px;padding-bottom: 15px;">или</div><a class="ui-btn-big ui-btn">Купить 100 показов за 1<i class="coint"></i></a></div>
    </div>
    {% else %}
    {% for item in data %}
        {{ item.current_user_id }} <br>
    {% endfor %}
    {% endif %}

    <div class="pictures">
            <div class="title">Эти девушки ответили вам взаимностью</div>

            <div class="mpic">
                <div class="ramka"></div>
                <img src="http://sp5.lovesupport.ru/5/6/2/37844562/596534832_medium.jpg?updated=20110226082241"><br>
                <div class="info">adsdfasd</div>
            </div>

        <div class="mpic">
                        <div class="ramka"></div>
                        <img src="http://sp5.lovesupport.ru/5/6/2/37844562/596534832_medium.jpg?updated=20110226082241"><br>
                        Имя, <b>24</b><br>
                        <div class="info">Ваш ответ: &laquo;да&raquo;</div>
                        <div class="link"><a href="#">Она видела меня?</a></div>
                    </div>

        <div class="mpic">
                        <div class="ramka"></div>
                        <img src="http://sp5.lovesupport.ru/5/6/2/37844562/596534832_medium.jpg?updated=20110226082241"><br>
                        Имя, <b>24</b><br>
                        <div class="info">Ваш ответ: &laquo;да&raquo;</div>
                        <div class="link"><a href="#">Она видела меня?</a></div>
                    </div>

        <div class="mpic">
                        <div class="ramka"></div>
                        <img src="http://sp5.lovesupport.ru/5/6/2/37844562/596534832_medium.jpg?updated=20110226082241"><br>
                        Имя, <b>24</b><br>
                        <div class="info">Ваш ответ: &laquo;да&raquo;</div>
                        <div class="link"><a href="#">Она видела меня?</a></div>
                    </div>
            <br clear="all">
            <div class='back'>&larr; <a href="#">Назад к поиску</a></div>
        </div>
</div>
{% endblock %}