{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Взаимные{% endblock %}

{% block body %}
<div class="content">

    <div class="none">
        <div class="title">Увы, вы еще ни с кем не совпали</div>

        Начните выбирать себе пару <a href="/search">прямо сейчас</a> и совпадения обязательно будут!
    </div>

</div>
{% endblock %}