{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Я выбрал{% endblock %}

{% block body %}
<div class="content">

    <div class="none">
        <div class="title">Кого я выбрал</div>
        <div class="info">На этой странице будут храниться фотографии тех,<br>кого вы выбрали. Как только кто-то ответит вам взаимностью, мы бросим все дела и сразу же сообщим вам об этом!<br><br><a href="/search" class="button">Начните поиск пары прямо сейчас</a></div>


    </div>

</div>
{% endblock %}