{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Поиск{% endblock %}

{% block body %}
<div class="app-main">
    <div class="app-page">
        <div class="app-block-no-popular" style="display: {% if webuser.popularity.level < 4 %}{% if variables.search_no_popular_block_hidden == 1 %}none{% else %}block{% endif %}{% else %}none{%endif%};">
            <a class="close"></a>
            {#<i class="arrow"></i>#}
            <div class="info-block">
                <div class="photo">{% if webuser.anketa.info.small_photo_url %}<img src="{{ webuser.anketa.info.small_photo_url }}">{%else%}<img src="/bundles/encounters/images/photo_little_na.gif">{% endif %}</div>
                <div class="message">
                    <div class="message-alert">У вас очень низкая популярность</div>
                    <div class="message-help">Станьте популярней &mdash; <a id="getmore" href="#">получите 100 дополнительных показов</a></div>
                </div>
            </div>
        </div>

        <div class="app-title">Вы бы встретились с {% if webuser.preferences.gender == 'F' %}ней{% else %}ним{% endif %}?</div>
        <div class="app-meet-button">
            <a href="javascript:void(0);" class="yes app-menu1">Да!</a>
            <a href="javascript:void(0);" class="maybe app-menu2">Возможно</a>
            <a href="javascript:void(0);" class="no app-menu3">Нет</a>
        </div>

        <p class="app-see-block">{% if webuser.preferences.gender == 'F' %}Она уже видела{% else %}Он уже видел{% endif %} ваше фото? <a href="#">Узнайте</a></p>

        <div class="app-image-member">
            <div class="image-container">
                <div class="name-container">
                    <div class="container">
                        <div class="left"></div>
                        <div class="right"></div>
                        <div class="content">
                            <a href="#"></a>  <i class="ico"></i> <span></span>
                        </div>
                    </div>
                </div>
                <img class="app-image"/>
            </div>
        </div>

        <div class="app-lenta">
            <a href="#" class="larr"><img height="31" width="31" src="/bundles/encounters/images/strelki-suda_1.png"></a>
            <a href="#" class="lf arr"></a>
            <div id="thumbs" class="app-lenta-img"></div>
            <a href="#" class="rt arr"></a>
            <a href="#" class="rarr"><img height="31" width="31" src="/bundles/encounters/images/strelki-tuda_1.png"></a>
        </div>

        {#<div class="app-info-user"><a href="#"></a>  <i class="ico"></i> <span></span></div>#}

        <div class="share{% if sharing_enabled == 1 %} opacity-50{% endif %}"><label><input type="checkbox" id="share"{% if sharing_enabled == 1 %} checked="checked"{% endif %}>Сообщить об оценке</label></div>
    </div>
</div>
{% include 'EncountersBundle:layers:layers.html.twig' %}
</div>
{% endblock %}

{% block pagejs %}
{% if queues.current %}

var $currentQueue = {{ queues.current }};
for (var $key=0;$key<$currentQueue.length;$key++) {
    $Queue.put($currentQueue[$key]);
}

{% endif %}
{% autoescape false %}
$Config.set('sharing_reminder', {{ sharing_reminder|json_encode() }});
{% endautoescape %}
{% if multi_gift_contacts is defined %}
    {% if multi_gift_contacts %}
{% autoescape false %}
$Config.set('multi_gift_contacts', {{ multi_gift_contacts|json_encode()  }});
{% endautoescape %}
    {% endif %}
{% endif %}
{% endblock %}