{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Поиск{% endblock %}

{% block body %}
<div class="app-main">
    <div class="app-page">

        <div class="app-block-no-popular" style="display: none;">
            <i class="arrow"></i>
            <div class="info-block">
                <div class="photo"><img src="http://face.lovesupport.ru/7/1/9/658217719/733095236_small_face.jpg?updated=20120121125815"></div>
                <div class="message">
                    <div class="message-alert">У вас ужасающе низкая популярность</div>
                    <div class="message-help">Станьте популярней &mdash; <a href="#">получите 100 дополнительных показов</a></div>
                </div>

            </div>
        </div>

        <div class="app-title">Вы бы встретились с {{ who.instrumental }}?</div>
        <div class="app-meet-button">
            <a href="javascript:void(0);" class="yes app-menu1">Да!</a>
            <a href="javascript:void(0);" class="maybe app-menu2">Возможно</a>
            <a href="javascript:void(0);" class="no app-menu3">Нет</a>
        </div>

        <p class="app-see-block">{{ who.nominative|title }} уже видел{% if who.nominative != 'он' %}а{%endif%} ваше фото? <a href="#">Узнайте</a></p>

        <div class="app-image-member">
            <center><img class="app-image"/></center>
        </div>

        <div class="app-lenta">
            <a href="#" class="larr"><img height="31" width="31" src="/bundles/encounters/images/strelki-suda_1.png"></a>
            <a href="#" class="lf arr"></a>
            <div id="thumbs" class="app-lenta-img"></div>
            <a href="#" class="rt arr"></a>
            <a href="#" class="rarr"><img height="31" width="31" src="/bundles/encounters/images/strelki-tuda_1.png"></a>
        </div>

        <div class="app-info-user"><a href="#"></a>  <i class="ico"></i> <span></span></div>
    </div>

        {% include 'EncountersBundle:layers:layers.html.twig' %}
</div>
</div>
{% endblock %}