{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Поиск{% endblock %}

{% block body %}
<div class="app-main">
    <div class="app-page">

        <div class="app-block-no-popular" style="display: block;">
            <i class="arrow"></i>
            <div class="info-block">
                <div class="photo">{% if webuser.anketa.info.small_photo_url %}<img src="{{ webuser.anketa.0.info.small_photo_url }}">{%else%}<img src="/bundles/encounters/images/photo_little_na.gif">{% endif %}</div>
                <div class="message">
                    <div class="message-alert">У вас ужасающе низкая популярность</div>
                    <div class="message-help">Станьте популярней &mdash; <a id="getmore" href="#">получите 100 дополнительных показов</a></div>
                </div>
            </div>
        </div>

        <div class="app-title">Вы бы встретились с {% if webuser.preferences.gender == 'F' %}ней{% else %}ним{% endif %}?</div>
        <div class="app-meet-button">
            <a href="javascript:void(0);" class="yes app-menu1">Да!</a>
            <a href="javascript:void(0);" class="maybe app-menu2">Возможно</a>
            <a href="javascript:void(0);" class="no app-menu3">Нет</a>
        </div>

        <p class="app-see-block">{% if webuser.preferences.gender == 'F' %}Она уже видела{% else %}Он уже видел{% endif %} ваше фото? <a href="#">Узнайте</a></p>

        <div class="app-image-member">
            <center><img class="app-image"/></center>
        </div>

        <div class="app-lenta">
            <a href="#" class="larr"><img height="31" width="31" src="/bundles/encounters/images/strelki-suda_1.png"></a>
            <a href="#" class="lf arr"></a>
            <div id="thumbs" class="app-lenta-img"></div>
            <a href="#" class="rt arr"></a>
            <a href="#" class="rarr"><img height="31" width="31" src="/bundles/encounters/images/strelki-tuda_1.png"></a>
        </div>

        <div class="app-info-user"><a href="#"></a>  <i class="ico"></i> <span></span></div>
    </div>

    {% include 'EncountersBundle:layers:layers.html.twig' %}
</div>
</div>
{% endblock %}