{% extends 'EncountersBundle:templates:layout.html.twig' %}
{% block title %}Меня смотрели{% endblock %}

{% block body %}
<div class="content">

    <div class="none">
        <div class="title">Вас еще никто не оценил</div>

        Начните выбирать себе пару <a href="/search">прямо сейчас</a>!
    </div>

</div>
{% endblock %}