/**
 * App CSS
 *
 * @author shpizel
 */

.app-layout {
    font-size: 13px;
    /*padding-top: 10px;*/
}

.app-layout .app-menu-bar {
    background: url('/bundles/encounters/images/bar-bg.png') repeat-x 0 -46px;
    margin: 0 12px 0px 7px;
    position: relative;
    height: 46px;
    /*width: 95%;	*/
}

.app-layout .app-menu-bar .l-rounder,
.app-layout .app-menu-bar .r-rounder {
    background: url('/bundles/encounters/images/bar-bg.png') repeat-x 0 0;
    position: absolute;
    top: 0px;
    height: 46px;
    width: 8px;
}

.l-menu-rounder {
    position: absolute;
    width: 4px;
    height: 35px;
    background: url('/bundles/encounters/images/menu-left-bg.png');
    top: 5px;
    left: -3px;
    z-index: 100;
}

.app-layout .app-menu-bar .l-rounder {
    background-position: 0 0;
    left: -8px;
}

.app-layout .app-menu-bar .r-rounder {
    background-position: 0 -92px;
    right: -8px;
}

.app-layout .app-menu-bar .app-menu-bar-inner {
    height: 35px;
    padding: 5px 0;
    overflow: hidden;
}

.app-menu-bar-inner .info-meet {
    list-style: none;
    margin: 0;
    padding: 0 5px 0 0;
    height: 35px;
}

.info-meet li {
    float: left;
    height: 35px;
    line-height: 34px;
}

.info-meet li a {
    font-size: 15px;
    padding: 0 10px;
}

.info-meet li i {
    font-size: 11px;
    color: #666;
    font-style: normal;
}

.info-meet li a {
    text-decoration: none;
}

.info-meet li b {
    font-weight: normal;
    color: #0066cc;
    text-decoration: underline;
}

.info-meet li b.mutual_unread {
    color: #FF6800;
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}

.info-meet li.item-popul b {
    color: #2a2a2a;
    font-weight: bold;
    text-decoration: none;
}

.info-meet li i.heart {
    background: url('/bundles/encounters/images/heart.png') 0 50% no-repeat;
    color: #ff6600;
    padding: 0 0 0 13px;
    text-decoration: none;
}

.info-meet li i.plus {
    color: #ff6600;
    text-decoration: none;
}

.info-meet li i.plus b {
    color: #ff6600;
    text-decoration: none;
    font-weight: bold;
}

.into-meet li {
    cursor: pointer;
}

.info-meet li.active {
    background: url('/bundles/encounters/images/menu-bg.png') repeat-x;
}

.info-meet li.active b {
    color: #fff;
    text-decoration: none;
}

.info-meet li.active i {
    color: #fff;
}

.info-meet li.active a b {
    color: white;
    text-decoration: none;
}

.info-meet li.item-setting {
    background: url('/bundles/encounters/images/separate-meet-menu.png') no-repeat left top;
    margin: 0;
}

.info-meet li.item-setting a.active {
    background-position: left bottom;
}

.info-meet li.item-energy {
    background: url('/bundles/encounters/images/separate-meet-menu.png') no-repeat left top;
    margin: 0;
    padding: 0 0 0 15px;
}

.info-meet li.item-energy * {
    cursor: pointer;
}

.info-meet li.item-account {
    background: url('/bundles/encounters/images/separate-meet-menu.png') no-repeat left top;
    margin: 0;
    width: 89px;

}

.info-meet li.item-account * {
    cursor: pointer;
}

.info-meet li.item-account div.bar {
    position: relative;
    height:35px;
}

.info-meet li.item-account div.account {
    position: absolute;
    top:7px;
    height:22px;
    width: 75px;
    left: 7px;
    background: url('/bundles/encounters/images/account.png');
    margin-bottom: 3px;
}

.info-meet li.item-account div.account span {
    position: absolute;
    top: -6px;
    font-weight: bold;
    color: white;
    left: 2px;
    width:48px;
    text-align: center;
}

.info-meet li.item-account div.account span i {
    background: url('/bundles/encounters/images/account-heart.png');
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left:3px;
}

.info-meet li.item-profile {
    background: url('/bundles/encounters/images/separate-meet-menu.png') no-repeat left top;
    margin: 0;
    max-width: 180px;
    position: relative;
}

.info-meet li.item-profile img {
    width: 21px;
    height: 21px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    top: 7px;
    left: 10px;
}

.info-meet li.item-profile a {
    padding-left: 38px;
}

.info-meet li.item-profile b {
    max-width: 105px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}


.info-meet li.item-energy b.battery {
    background: url('/bundles/encounters/images/battery-small.gif') no-repeat left top;
    display: inline-block;
    height: 17px;
    width: 38px;
    margin: 0 4px 0 0;
    vertical-align: -5px;
    zoom: 1;
}

.info-meet li.item-energy b.battery b {
    background: url('/bundles/encounters/images/battery-load-small.gif') repeat-x left top;
    display: block;
    float: left;
    height: 11px;
    margin: 3px 0 0 3px;

}

.app-main .app-set {
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 20px;
    -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 10px 20px;
    width: 410px;
}

.app-set .app-years {
    text-align: center;
}

.app-set label {
    display: block;
    margin: 0 0 15px 0;
    padding: 0 0 0 180px;
}

.app-set label input[type="radio"] {
    margin-top: 1px;
    margin-right: /**2*/ 5px;
    vertical-align: top;
    height: 13px;
    width: 13px;
}

.app-set .app-years,
.app-set .send {
    text-align: center;
    margin: 0 0 20px 0;
}

.app-set .send {
    margin: 0 0 10px 0;
}

.app-set .send input[type="submit"] {
    background: url('/bundles/encounters/images/btn-start.png') no-repeat center center;
    border: 0px;
    font-size: 20px;
    padding: 8px 20px;
    color: #419801;
    cursor: pointer;
}

.app-main {
    position: relative;
}

.app-block-no-popular {
    background-color: #ff6600;
    border-radius: 5px;
    margin: 20px 5px 5px 3px;
    position: relative;
}

.app-block-no-popular .arrow {
    background: none;
    position: absolute;
    right: 261px;
    top: -18px;
    margin-left: -9px;
    border: 9px solid transparent;
    border-bottom: 9px solid #fc6500;
    height: 0;
    width: 0;
}

.app-block-no-popular .info-block {
    padding: 17px 22px;
    color: #fff;
}

.app-block-no-popular .info-block .photo {
    background: url('/bundles/encounters/images/bg-user-photo.gif') no-repeat center center;
    float: left;
    height: 62px;
    width: 46px;
    padding: 3px 4px 5px;
}

.app-block-no-popular .info-block .message {
    margin: 0 0 0 70px;
}

.info-block .message .message-alert {
    font-size: 24px;
    color: #fff;
    margin: 4px 0 11px;
}

.info-block .message .message-help {
    font-size: 18px;
    color: #fff;
}

.info-block .message .message-help a {
    background: url('/bundles/encounters/images/message-help.png') no-repeat left top;
    padding: 6px 12px;
    color: #444;
    text-decoration: none;
}

.app-page .app-title,
.app-set .app-title {
    font: bold italic 24px/50px Georgia;
    margin: 0 0 10px 0;
    text-align: center;
}

.app-meet-button {
    height: 42px;
    width: 710px;
    margin: 0 auto 15px auto;
    background: url('/bundles/encounters/images/app-meet-button-background.png') no-repeat;
}

.app-meet-button a {
    background: #fff url('/bundles/encounters/images/app-meet-button.png') 0 0 no-repeat;
    display: block;
    float: left;
    font-size: 20px;
    line-height: 41px;
    height: 42px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 1px #fff;
    filter: dropshadow(color = #fff, offx = 0, offy = 1);
}

.app-meet-button a:active {
    line-height: 43px;
}

.app-meet-button a.app-menu1 {
    background-position: 0 0;
    width: 131px;
    color: #419801;
}

.app-meet-button a.app-menu1:hover {
    background-position: 0 -42px
}

.app-meet-button a.app-menu1:active {
    background-position: 0 -84px
}

.app-meet-button a.app-menu1-active,
.app-meet-button a.app-menu1-active:link,
.app-meet-button a.app-menu1-active:hover,
.app-meet-button a.app-menu1-active:active {
    background-position: 0 -84px;
    color: white;
}

.app-meet-button a.app-menu2 {
    background-position: -131px 0;
    width: 130px;
    color: #767676;
}

.app-meet-button a.app-menu2:hover {
    background-position: -131px -42px;
}

.app-meet-button a.app-menu2:active {
    background-position: -131px -84px;
}

.app-meet-button a.app-menu2-active,
.app-meet-button a.app-menu2-active:link,
.app-meet-button a.app-menu2-active:hover,
.app-meet-button a.app-menu2-active:active {
    background-position: -131px -84px;
    color: white;
}

.app-meet-button a.app-menu3 {
    background-position: -261px 0;
    width: 131px;
    color: #ff0000;
}

.app-meet-button a.app-menu3:hover {
    background-position: -261px -42px;
}

.app-meet-button a.app-menu3:active {
    background-position: -261px -84px
}

.app-meet-button a.app-menu3-active,
.app-meet-button a.app-menu3-active:link,
.app-meet-button a.app-menu3-active:hover,
.app-meet-button a.app-menu3-active:active {
    background-position: -261px -84px;
    color: white;
}

.app-meet-button a:hover,
.app-meet-button a:active {
    color: #fff;
    text-shadow: 0 0 0 #fff;
    filter: none;
}

.app-see-block {
    text-align: center;
}

.app-info-user {
    font-size: 11px;
    text-align: center;
    margin: 0 0 10px 0;
}

.app-info-user a {
    color: #2a2a2a;
    text-decoration: none;
}

.app-lenta {
    text-align: center;
    margin: 0 0 10px 0;
}

.app-lenta .app-lenta-img {
    display: inline-block;
    max-width: 450px;
    box-shadow: 0 0 2px #666666;
    height: 80px;
}

.app-lenta .larr {
    position: relative;
    bottom: 30px;
    font-size: 130%;
    right: 10px;
    display: none;
}

.app-lenta .rarr {
    position: relative;
    bottom: 30px;
    left: 10px;
    border: 0;
    display: none;
}

.app-lenta .app-lenta-img a {
    display: inline-block;
    height: 62px;
    width: 46px;
    padding: 9px 10px;
    background-repeat: no-repeat;
    background-position: center center;
}

.app-lenta .app-lenta-img a.select {
    background-color: #fdefcb;
}

/*.app-info-user*/
.ico {
    background: url('/bundles/encounters/images/app-sex.png') no-repeat left top;
    display: inline-block;
    height: 10px;
    width: 11px;
    vertical-align: middle;
}

/*.app-info-user */
.ico.male {
    background-position: 0 0;
}

/*.app-info-user */
.ico.female {
    background-position: -11px 0;
}

.app-image-member {
    background: url('/bundles/encounters/images/ajax-loader.gif') no-repeat center center;
    margin: 20px auto;
    min-height: 66px;
    position: relative;
}

.app-image-member .app-image {
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    cursor: pointer;
    display: none;
}

.app-image-member .app-image {
    box-shadow: 0 0 2px #666;
    padding: 4px;
}

.content-center {
    text-align: center;
    /*margin: 0 100px 20px 100px;*/
    margin: 0 50px 20px 50px;
    font-size: 18px;
}

.center {
    text-align: center;
    position: relative;
}

.center .close {
    background: url('/bundles/encounters/images/close.png') no-repeat left top;
    height: 27px;
    line-height: 26px;
    width: 112px;
    position: static;
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.center .see {
    background: url('/bundles/encounters/images/see.png') no-repeat left top;
    height: 27px;
    line-height: 26px;
    width: 151px;
    position: static;
    display: inline-block;
    text-decoration: none;
    color: #018d0e;
    font-size: 15px;
}

.coint {
    background: url('/bundles/encounters/images/coint.png') no-repeat left top;
    display: inline-block;
    width: 13px;
    height: 12px;
}

.account-heart {
    background: url('/bundles/encounters/images/account-heart.png') no-repeat left top;
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 2px;
}

.account-red-big-heart {
    background: url('/bundles/encounters/images/account-red-big-heart.png') no-repeat left top;
    display: inline-block;
    width: 19px;
    height: 17px;
    margin-left: 3px;
    position: relative;
    top:2px;
}

.account-red-small-heart {
    background: url('/bundles/encounters/images/account-red-small-heart.png') no-repeat left top;
    display: inline-block;
    width: 11px;
    height: 10px;
    margin-left: 2px;
}

.account-thumbs-up {
    background: url('/bundles/encounters/images/account-thumbs-up.png') no-repeat left top;
    display: inline-block;
    width: 21px;
    height: 23px;
}

.ui-btn {
    background: #52a80a url("/bundles/encounters/images/ui-btn.png") 0 -2px repeat-x;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid #5fc10e;
    box-shadow: inset 0 0 1px #fff;
    -moz-box-shadow: inset 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 1px #fff;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    -display: inline;
    font-size: 13px;
    height: 23px;
    line-height: 24px;
    margin: 0 auto;
    outline: none;
    overflow: visible;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #4d9115;
    transition: background-color .25s linear;
    -moz-transition: background-color .25s linear;
    -o-transition: background-color .25s linear;
    -webkit-transition: background-color .25s linear;
    vertical-align: top;
}

.ui-btn:active {
    background-color: #4a9709;
    transition: none;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
}

.ui-btn-big {
    background-position: 0 0;
    font-size: 16px;
    height: 27px;
    line-height: 27px;
    padding: 0 20px;
}

div.content {
    /*padding: 10px;*/
    padding-top: 2px;
    padding-left:6px;
}

div.content div.none div.title {
    font: bold italic 24px/50px Georgia;
    margin-bottom: 15px;
    text-align: center;
}

div.content div.none div.error-title {
    font: 24px/50px Arial;
    margin-bottom: 15px;
    /*text-align: center;*/
    /*padding-left: 50px;*/

    background: url('/bundles/encounters/images/warning.png') left no-repeat;

    margin: 0 auto 0 auto;
    padding-left:40px;
    min-width: 600px;
    width: 600px;
}

div.content div.none div.info {
    margin: 0 auto 0 auto;
    min-width: 485px;
    width: 485px;
    text-align: center;
    line-height: 25px;
    padding: 32px;
    background: #fff1d2;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    margin-bottom: 25px;
}

div.content div.none div.error {
    margin: 0 auto 0 auto;
    min-width: 640px;
    width: 640px;
    text-align: center;
    line-height: 25px;
    /*padding: 32px;*/
    padding-top:32px;
    margin-bottom: 25px;
}

div.content div.none a.button {
    background: url('/bundles/encounters/images/btn-start_2.png') no-repeat center center;
    border: 0px;
    font-size: 20px;
    padding: 9px 20px;
    color: #419801;
    cursor: pointer;
    vertical-align: middle;
}

div.content div.none a.long {
    background: url('/bundles/encounters/images/btn-start_1.png') no-repeat center center;
}

div.content div.none a.billing {
    background: url('/bundles/encounters/images/btn-start_3.png') no-repeat center center;
}

div.content div.none a.button:link, div.content div.none a.button:hover, div.content div.none a.button:active, div.content div.none a.button:visited {
    text-decoration: none;
}

a.close {
    cursor: pointer;
}

div.mychoice div.pictures div.mpic {
    margin-bottom: 43px;
}

div.visitors div.pictures div.mpic {
    margin-bottom: 43px;
}

div.mutual div.pictures div.mpic {
    margin-right: 25px;
}

div.app-image-member div.image-container {
    text-align: center;

}

div.app-image-member div.name-container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 4px;
}

div.app-image-member div.name-container div.container {
    margin: 0 auto;
    overflow: hidden;
    height: 20px;
    display: inline-block;
}

div.app-image-member div.container div.left {
    float: left;
    width: 16px;
    height: 20px;

    background: url('/bundles/encounters/images/name-bg.png');
}

div.app-image-member div.container div.right {
    float: right;
    width: 16px;
    height: 20px;

    background: url('/bundles/encounters/images/name-bg.png') 16px 0;
}

div.app-image-member div.container div.content {
    padding: 0 7px;
    margin-left: 16px;
    margin-right: 16px;
    height: 20px;
    background: #fff;

    font-size: 11px;
    text-align: center;

    padding-top: 1px;
}

div.app-image-member div.container div.content span {
    font-weight: bold;
}

div.app-block-no-popular a.close {
    background: url('/bundles/encounters/images/pop-close-img.png');
    width: 20px;
    height: 21px;
    position: absolute;
    right: 7px;
    top: 7px;
}