/**
 * Energy layer styles
 *
 * @author shpizel
 */

.layer-energy .title {
    background: url('/bundles/encounters/images/title-buy.gif') no-repeat center top;
    text-indent: -330em;
    margin: 30px 0;
    height: 37px;
}

.layer-energy .battery-big {
    background: url('/bundles/encounters/images/battery.gif') no-repeat left top;
    height: 74px;
    width: 167px;
    margin: 0 auto;
}

.layer-energy .battery-big b {
    background: url('/bundles/encounters/images/battery-load.gif') repeat-x left top;
    position: relative;
    left: 12px;
    top: 13px;
    display: block;
    height: 48px;
}

.layer-energy .info-block {
    overflow: hidden;
    margin: 0 0 40px 0;
}

.layer-energy .info-block .photo {
    float: left;
    height: 62px;
    width: 46px;
}

.layer-energy .info-block .message {
    margin: 0 15px 0 70px;
    padding: 8px 0 0 0;
    font-size: 18px;
}

.layer-energy, .layer-battery {
    padding: 0 0 20px 0;
}

.layer-energy .center {
    text-align: center;
    margin: 0;
}