/**
 * Repeatable no layer styles
 *
 * @author shpizel
 */

.layer-repeatable-no .title {
    background: url('/bundles/encounters/images/texts/repeatable-no.png') no-repeat center top;
    height: 79px;
    width: 310px;
    margin: 10px auto 30px auto;
}