/**
 * Repeatable yes layer styles
 *
 * @author shpizel
 */

.layer-repeatable-yes .title {
    background: url('/bundles/encounters/images/texts/repeatable-yes.png') no-repeat center top;
    height: 79px;
    width: 381px;
    text-indent: -330em;
    margin: 10px auto 30px auto;
}