{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Encounters{% endblock %}</title>
{% stylesheets '@EncountersBundle/Resources/public/css/*' filter="?yui_css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% stylesheets '@EncountersBundle/Resources/public/css/ie/*' filter="?yui_css" %}
    <!--[if lt IE 9 ]><link rel="stylesheet" href="{{ asset_url }}" type="text/css"  /><![endif]-->
{% endstylesheets %}
{% javascripts
    '@EncountersBundle/Resources/public/js/core/*'
    '@EncountersBundle/Resources/public/js/tools/*'
    '@EncountersBundle/Resources/public/js/pages/*'
    '@EncountersBundle/Resources/public/js/elements/*'
    filter="?yui_js"
%}
        <script src="{{ asset_url }}"></script>
{% endjavascripts %}
    </head>
    <body>

    <div class="app-layout">
        <div class="app-menu-bar">
            <i class="l-rounder"></i>
            <i class="r-rounder"></i>
            <div class="app-menu-bar-inner">
                <ul class="info-meet">
                    <li><a href=""><b>Я выбрал</b>  <i>102</i></a></li>

                    <li><a href=""><b>Меня смотрели</b> <i>36</i></a></li>
                    <li><a href=""><b>Взаимные</b> <i class="heart">36</i></a></li>
                    <li class="item-popul"><div><b>Низкая</b> популярность</div></li>
                    <li class="item-setting"><a href="#"></a></li>

                    <li class="item-energy">
                        <b class="battery"><b style="width:20%"></b></b> <i>100%</i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="app-main">
            <div class="app-set">

                <div class="app-title">Я хочу найти</div>
                <form>
                    <label><input type="radio" /> Девушку</label>
                    <label><input type="radio" /> Парня</label>
                    <div class="app-years">
                        В возрасте:
                        <select>

                            <option value="">16</option>
                            <option value="">29</option>
                            <option value="">36</option>
                            <option value="">45</option>
                            <option value="">57</option>
                        </select>
                        &nbsp;&mdash;&nbsp;

                        <select>
                            <option value="">45</option>
                            <option value="">34</option>
                            <option value="">36</option>
                            <option value="">23</option>
                            <option value="">18</option>

                        </select>
                    </div>
                    <div class="send">
                        <input type="submit" value="Применить" />
                    </div>
                </form>
            </div>
            <div class="app-page">
                <div class="app-block-no-popular">

                    <i class="arrow"></i>
                    <div class="info-block">
                        <div class="photo"><img src="http://face.lovesupport.ru/7/1/9/658217719/733095236_small_face.jpg?updated=20120121125815"></div>
                        <div class="message">
                            <div class="message-alert">У вас ужасающе низкая популярность</div>
                            <div class="message-help">Станьте популярней &mdash; <a href="#">получите 100 дополнительных показов</a></div>
                        </div>

                    </div>
                </div>
                <div class="app-title">Вы бы встретились с ней?</div>
                <div class="app-meet-button">
                    <a href="#" class="app-menu1">Да!</a>
                    <a href="#" class="app-menu2">Возможно</a>
                    <a href="#" class="app-menu3">Нет</a>

                </div>
                <p class="app-see-block">Она уже видела ваше фото? <a href="#">Узнайте</a></p>
                <div class="app-image-member">
                    <div class="app-image" style="width: 600px; height: 400px; background-image: url('/bundles/encounters/images/people1.jpg');">

                    </div>
                </div>
                <div class="app-lenta">
                    <a href="#" class="lf arr"></a>

                    <div class="app-lenta-img">
                        <a href="#" style="background-image: url('/bundles/encounters/images/people2.jpg')"></a>
                        <a href="#" style="background-image: url('/bundles/encounters/images/people2.jpg')"></a>
                        <a href="#" style="background-image: url('/bundles/encounters/images/people2.jpg')" class="select"></a>
                        <a href="#" style="background-image: url('/bundles/encounters/images/people2.jpg')"></a>
                    </div>
                    <a href="#" class="rt arr"></a>
                </div>
                <div class="app-info-user"><a href="#">Машенька</a>  <i class="ico female"></i> 22</div>

            </div>
            <div class="app-layer" style="display:block">
                <a href="#" class="close"></a>
                <b class="ie-shadow">
                    <b class="tl"><b></b></b><b class="tr"><b></b></b><b class="bl"><b></b></b><b class="br"><b></b></b><b class="tb"><b></b></b><b class="rb"><b></b></b><b class="lb"><b></b></b><b class="bb"><b></b></b>
                </b>
                <div class="app-layer-wrap">
                    <div class="layer-pop-up">
                        <div class="title">Станьте популярней</div>

                        <p>Получите 100 дополнительных показов,<br /> в этот раз точно сработает!</p>
                        <form>
                            <p class="center"><a href="#" class="ui-btn ui-btn-big">Купить 100 показов за 1<i class="coint"></i></a></p>
                        </form>
                    </div>
                    <div class="layer-energy">
                        <div class="info-block">

                            <div class="photo"><img src="http://face.lovesupport.ru/7/1/9/658217719/733095236_small_face.jpg?updated=20120121125815"></div>
                            <div class="message">
                                У вас недостаточно энергии для того, чтобы узнать, видела ли Daria ваши фото
                            </div>
                        </div>
                        <div class="battery-big"><b style="width: 10%;"></b></div>
                        <div class="info-battery"><i class="arrow"></i> Энергия иллюстрирует гештальт, как и предсказывают практические аспекты использования принципов в области восприятия</div	>
                        <div class="title">Купить себе энергий</div>

                        <form>
                            <p class="center"><a href="#" class="ui-btn ui-btn-big">Купить 100% энергии за 1<i class="coint"></i></a></p>
                        </form>
                    </div>
                    <div class="layer-no">
                        <div class="title">Она ответила нет</div>
                        <div class="photo"><img src="styles/images/people.jpg" /></div>
                        <div class="content-center">К сожалению, Daria ответила «нет» на предложение встретиться с вами</div>

                        <div class="center"><a href="#" class="close">Закрыть окно</a></div>
                    </div>
                    <div class="layer-maybe">
                        <div class="title">Она ответила возможно</div>
                        <div class="photo"><img src="styles/images/people.jpg" /></div>
                        <div class="content-center"><a href="#">Daria</a> ответила «возможно» на предложение встретиться с вами</div>

                        <div class="center"><a href="#" class="close">Закрыть окно</a><a href="#" class="see">Показать ее анкету</a></div>
                    </div>
                    <div class="layer-yes">
                        <div class="title">Она ответила да</div>
                        <div class="photo"><img src="styles/images/people.jpg" /></div>
                        <div class="content-center"><a href="#">Daria</a> ответила «да» на&nbsp;предложение&nbsp;встретиться&nbsp;с&nbsp;вами</div>

                        <div class="center"><a href="#" class="close">Закрыть окно</a><a href="#" class="see">Показать ее анкету</a></div>
                    </div>
                    <div class="layer-not-see-yet">
                        <div class="title">Она еще не видела твоих фоток</div>
                        <div class="photo"><img src="styles/images/people.jpg" /></div>
                        <div class="content-center">Станьте первыми в списке просматриваемых ею фото</div>
                        <div class="center"><a href="#" class="ui-btn ui-btn-big">Стать первым за 1<i class="coint"></i></a></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

        <script>
            $debug = true;
            $App.init(location.pathname).run();
        </script>
    </body>
</html>