/**
 * Layers element CSS
 *
 * @author shpizel
 */

.app-layer {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px #666;
    position: absolute;
    left: 50%;
    top: 70px;
    padding: 20px 0;
    margin: 0 0 0 -275px;
    width: 550px;
    display: none;
    z-index: 1001;
}

.app-layer .app-layer-wrap {
    padding: 0 30px;
    position: relative;
    z-index: 20;
}

.ie-shadow {
    display: none;
}

.app-layer .close {
    background: url('/bundles/encounters/images/close.gif') no-repeat left top;
    display: block;
    position: absolute;
    height: 20px;
    width: 21px;
    right: 10px;
    top: 10px;
    z-index: 9999;
}

.layer-pop-up {
    background: url('/bundles/encounters/images/speed.jpg') no-repeat center 40px;
    padding: 43px 0 20px 0;
}

.layer-pop-up .title {
    background: url('/bundles/encounters/images/title-popular.gif') no-repeat center top;
    text-indent: -330em;
    margin: 80px 0 30px 0;
    height: 36px;
}

.layer-pop-up p {
    font-size: 18px;
    text-align: center;
    margin: 0 0 25px 0;
}

.layer-pop-up .center,
.layer-energy .center,
.layer-battery .center {
    text-align: center;
    margin: 0;
}

.layer-energy, .layer-battery {
    padding: 0 0 20px 0;
}

.layer-level-achievement .level {
    height: 171px;

    width: 499px;
    margin: 0 auto;
}

.layer-level-achievement .l2 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_02.png');
}

.layer-level-achievement .l3 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_03.png');
}

.layer-level-achievement .l4 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_04.png');
}

.layer-level-achievement .l5 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_05.png');
}

.layer-level-achievement .l6 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_06.png');
}

.layer-level-achievement .l7 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_07.png');
}

.layer-level-achievement .l8 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_08.png');
}

.layer-level-achievement .l9 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_09.png');
}

.layer-level-achievement .l10 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_10.png');
}

.layer-level-achievement .l11 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_11.png');
}

.layer-level-achievement .l12 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_12.png');
}

.layer-level-achievement .l13 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_13.png');
}

.layer-level-achievement .l14 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_14.png');
}

.layer-level-achievement .l15 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_15.png');
}

.layer-level-achievement .l16 {
    background: url('/bundles/encounters/images/levels/layers/layer_l_16.png');
}

.layer-level .level {
    height: 98px;

    width: 280px;
    margin: 0 auto;
}

.layer-level .l1 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_01.png');
}

.layer-level .l2 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_02.png');
}

.layer-level .l3 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_03.png');
}

.layer-level .l4 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_04.png');
}

.layer-level .l5 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_05.png');
}

.layer-level .l6 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_06.png');
}

.layer-level .l7 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_07.png');
}

.layer-level .l8 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_08.png');
}

.layer-level .l9 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_09.png');
}

.layer-level .l10 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_10.png');
}

.layer-level .l11 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_11.png');
}

.layer-level .l12 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_12.png');
}

.layer-level .l13 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_13.png');
}

.layer-level .l14 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_14.png');
}

.layer-level .l15 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_15.png');
}

.layer-level .l16 {
    background: url('/bundles/encounters/images/levels/layers/layer_now_l_16.png');
}

.layer-level-achievement .message {
    background: url('/bundles/encounters/images/levels/layers/text-vi-pereshli.png') no-repeat;
    height: 36px;

    width: 456px;
    margin: 0 auto;
    margin-top: 10px;
}

.layer-level .bar {
    width: 303px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

.layer-level .bar .current-background, .layer-level .bar .current, .layer-level .bar .next-background, .layer-level .bar .next {
    position: absolute;
    top: 0px;
    width: 42px;
    height: 40px;
}

.layer-level .bar .current-background, .layer-level .bar .current {
    left: 0px;
}

.layer-level .bar .next-background, .layer-level .bar .next {
    right: 0px;
}

.layer-level .bar .current-background {
    background: url('/bundles/encounters/images/levels/layers/numbers-big_bg1.png') no-repeat;
}

.layer-level .bar .next-background {
    background: url('/bundles/encounters/images/levels/layers/numbers-big_bg2.png') no-repeat;
}

.layer-level .bar .next {
    background: url('/bundles/encounters/images/levels/layers/numbers-big.png') no-repeat;
    z-index: 555;
}

.layer-level .bar .current {
    background: url('/bundles/encounters/images/levels/layers/numbers-big.png') no-repeat;
    z-index: 555;
}

.layer-level .bar .l1 {
    background-position: 0 0;
}

.layer-level .bar .l2 {
    background-position: 0 -40px;
}

.layer-level .bar .l3 {
    background-position: 0 -80px;
}

.layer-level .bar .l4 {
    background-position: 0 -120px;
}

.layer-level .bar .l5 {
    background-position: 0 -160px;
}

.layer-level .bar .l6 {
    background-position: 0 -200px;
}

.layer-level .bar .l7 {
    background-position: 0 -240px;
}

.layer-level .bar .l8 {
    background-position: 0 -280px;
}

.layer-level .bar .l9 {
    background-position: 0 -320px;
}

.layer-level .bar .l10 {
    background-position: 0 -360px;
}

.layer-level .bar .l11 {
    background-position: 0 -400px;
}

.layer-level .bar .l12 {
    background-position: 0 -440px;
}

.layer-level .bar .l13 {
    background-position: 0 -480px;
}

.layer-level .bar .l14 {
    background-position: 0 -520px;
}

.layer-level .bar .l15 {
    background-position: 0 -560px;
}

.layer-level .bar .l16 {
    background-position: 0 -600px;
}

.layer-level .bar .speedo-background, .layer-level .bar .speedo {
    top: 0px;
    position: absolute;

    left: 52px;
    height: 40px;
}

.layer-level .bar .speedo-background {
    background: url('/bundles/encounters/images/levels/layers/bar-big2.png') no-repeat;
    width: 199px;
}

.layer-level .bar .speedo {
    background: url('/bundles/encounters/images/levels/layers/bar-big1.png') no-repeat;
    width: 20px;
}

.layer-energy .title {
    background: url('/bundles/encounters/images/title-buy.gif') no-repeat center top;
    text-indent: -330em;
    margin: 30px 0;
    height: 37px;
}

.layer-repeatable-yes .title {
    background: url('/bundles/encounters/images/texts/repeatable-yes.png') no-repeat center top;
    height: 79px;
    width: 381px;
    text-indent: -330em;
    margin: 10px auto 30px auto;
}

.layer-repeatable-no .title {
    background: url('/bundles/encounters/images/texts/repeatable-no.png') no-repeat center top;
    height: 79px;
    width: 310px;
    margin: 10px auto 30px auto;
}

.layer-repeatable-maybe .title {
    background: url('/bundles/encounters/images/texts/repeatable-maybe.png') no-repeat center top;
    height: 79px;
    width: 329px;
    margin: 10px auto 30px auto;
}

.layer-battery .title {
    background: url('/bundles/encounters/images/title-buy.gif') no-repeat center top;
    text-indent: -330em;
    margin: 30px 0;
    height: 37px;
}

.layer-battery .charged {
    background: url('/bundles/encounters/images/battery-charged.png') no-repeat center top;
}

.layer-energy .battery-big {
    background: url('/bundles/encounters/images/battery.gif') no-repeat left top;
    height: 74px;
    width: 167px;
    margin: 0 auto;
}

.layer-battery .battery-big {
    height: 74px;
    width: 167px;
    margin: 0 auto;
    margin-top: 20px;
}

.layer-battery .empty {
    background: url('/bundles/encounters/images/battery-empty.png') no-repeat left top;
}

.layer-battery .middle {
    background: url('/bundles/encounters/images/battery-middle.png') no-repeat left top;
}

.layer-battery .full {
    background: url('/bundles/encounters/images/battery-full.png') no-repeat left top;
}

.layer-level-achievement .battery {
    background: url('/bundles/encounters/images/levels/layers/bat.png') no-repeat;
    padding-left: 43px;
    color: #ff6600;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
}

.layer-energy .battery-big b {
    background: url('/bundles/encounters/images/battery-load.gif') repeat-x left top;
    position: relative;
    left: 12px;
    top: 13px;
    display: block;
    height: 48px;
}

.layer-energy .info-battery,
.layer-battery .info-battery,
.layer-level-achievement .info-battery,
.layer-level .info-battery,
.layer-repeatable-yes .info-battery,
.layer-repeatable-no .info-battery,
.layer-repeatable-maybe .info-battery,
.layer-no .info-battery,
.layer-yes .info-battery,
.layer-maybe .info-battery,
.layer-not-see-yet .info-battery
{
    background-color: #fff1d2;
    border-radius: 5px 5px 5px 5px;
    display: block;
    margin: 20px auto 5px;
    padding: 10px;
    position: relative;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    width: 96%;

    padding-top: 12px;
    padding-bottom: 12px;
}

.layer-level .info-battery {
    margin-top: 30px;
}

.layer-no .info-battery,
.layer-yes .info-battery,
.layer-maybe .info-battery,
.layer-not-see-yet .info-battery {
    text-align: left;
    margin-bottom: 17px;
}

.layer-no .info,
.layer-yes .info,
.layer-maybe .info,
.layer-not-see-yet .info {
    padding: 8px !important;
}

.layer-energy .info-battery .arrow,
.layer-battery .info-battery .arrow,
.layer-level-achievement .info-battery .arrow,
.layer-level .info-battery .arrow,
.layer-repeatable-yes .info-battery .arrow,
.layer-repeatable-no .info-battery .arrow,
.layer-repeatable-maybe .info-battery .arrow,
.layer-no .info-battery .arrow,
.layer-yes .info-battery .arrow,
.layer-maybe .info-battery .arrow,
.layer-not-see-yet .info-battery .arrow
{
    background: none;
    position: absolute;
    left: 49%;
    top: -18px;
    margin-left: -9px;
    border: 9px solid transparent;
    border-bottom: 9px solid #fff1d2;
    height: 0;
    width: 0;
}

.layer-energy .info-block {
    overflow: hidden;
    margin: 0 0 40px 0;
}

.layer-energy .info-block .photo {
    float: left;
    height: 62px;
    width: 46px;
}

.layer-energy .info-block .message {
    margin: 0 15px 0 70px;
    padding: 8px 0 0 0;
    font-size: 18px;
}

.layer-user-info {
    /*background: #ccc;*/
}

.layer-user-info div.info,
.layer-maybe div.info,
.layer-yes div.info,
.layer-no div.info,
.layer-not-see-yet div.info
{
    font-size: 13px;
    padding: 20px;
    padding-bottom: 30px;
}

.layer-user-info div.info div.face,
.layer-maybe div.info div.face,
.layer-yes div.info div.face,
.layer-no div.info div.face,
.layer-not-see-yet div.info div.face
{
    float: left;
    margin-right: 15px;
}

.layer-user-info div.info div.face img,
.layer-maybe div.info div.face img,
.layer-yes div.info div.face img,
.layer-no div.info div.face img,
.layer-not-see-yet div.info div.face img
{
    box-shadow: 0 0 2px #666;
    padding: 4px;
    width: 110px;
    height: 150px;
}

.layer-user-info div.info div.name,
.layer-maybe div.info div.name,
.layer-yes div.info div.name,
.layer-no div.info div.name,
.layer-not-see-yet div.info div.name
{
    font-size: 24px;
    margin-bottom: 3px;
}

.layer-user-info div.info div.location,
.layer-maybe div.info div.location,
.layer-yes div.info div.location,
.layer-no div.info div.location,
.layer-not-see-yet div.info div.location
{
    color: #666;
}

.layer-user-info div.info div.age,
.layer-maybe div.info  div.age,
.layer-yes div.info  div.age,
.layer-no div.info  div.age,
.layer-not-see-yet div.info  div.age
{
    margin-top: 4px;
}

.layer-user-info div.info div.lookingfor,
.layer-maybe div.info div.lookingfor,
.layer-yes div.info div.lookingfor,
.layer-no div.info div.lookingfor,
.layer-not-see-yet div.info div.lookingfor
{
    margin-top: 10px;
}

.layer-no .title {
    text-indent: -330em;
    margin: 10px 0 30px 0;
    height: 37px;
}

.layer-no div.male {
    background: url('/bundles/encounters/images/texts/male/title-say-no.gif') no-repeat center top;
}

.layer-no div.female {
    background: url('/bundles/encounters/images/texts/female/title-say-no.gif') no-repeat center top;
}

.layer-no .photo,
.layer-maybe .photo,
.layer-yes .photo,
.layer-not-see-yet .photo {
    margin: 20px 0;
    text-align: center;
}

.layer-maybe .title {
    text-indent: -330em;
    margin: 10px 0 30px 0;
    height: 37px;
}

.layer-maybe div.male {
    background: url('/bundles/encounters/images/texts/male/title-say-maybe.gif') no-repeat center top;
}

.layer-maybe div.female {
    background: url('/bundles/encounters/images/texts/female/title-say-maybe.gif') no-repeat center top;
}

.layer-maybe .center .close,
.layer-yes .center .close,
.layer-mutual .center .close {
    position: absolute;
    right: 0px;
    top: 0px;
}

.layer-mutual div.photo {

    height: 171px;
    width: 251px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.layer-mutual div.z {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 300;
    background: url('/bundles/encounters/images/mutual-ramka.png') no-repeat center top;
}

.layer-mutual div.photo div.current {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    height: 150px;
    width: 110px;

}

.layer-mutual div.photo div.web {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10;
    height: 150px;
    width: 110px;

}

.layer-yes .title {
    text-indent: -330em;
    margin: 10px 0 30px 0;
    height: 37px;
}

.layer-yes div.male {
    background: url('/bundles/encounters/images/texts/male/title-say-yes.gif') no-repeat center top;
}

.layer-yes div.female {
    background: url('/bundles/encounters/images/texts/female/title-say-yes.gif') no-repeat center top;
}

.layer-not-see-yet {
    display: none;
}

.layer-not-see-yet .title {
    text-indent: -330em;
    margin: 10px 0 30px 0;
    height: 37px;
}

.layer-mutual {
    display: none;
}

.layer-mutual .title {
    background: url('/bundles/encounters/images/texts/title-ura.gif') no-repeat center top;
    text-indent: -330em;
    margin: 10px 0 30px 0;
    height: 37px;
}

.layer-invite .title {
    background: url('/bundles/encounters/images/texts/spam-da-text.png') no-repeat center top;
    text-indent: -330em;
    margin: 10px 0 20px 0;
    height: 79px;
}

.layer-invite .description {
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 20px;
}

.layer-invite .pics {
    text-align: center;
    width: 420px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.layer-invite .pics img {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 15px;
}

.layer-not-see-yet div.male {
    background: url('/bundles/encounters/images/texts/male/title-not-see.gif') no-repeat center top;
}

.layer-not-see-yet div.female {
    background: url('/bundles/encounters/images/texts/female/title-not-see.gif') no-repeat center top;
}

.layer-send-message .title {
    background: url('/bundles/encounters/images/texts/spam-da-text.png') no-repeat center top;
    text-indent: -330em;
    margin: 10px 0 20px 0;
    height: 79px;
}

.layer-send-message .description {
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 20px;
}

.layer-send-message .pic {
    text-align: center;
    width: 420px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.layer-send-message .pic img {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 15px;
}

div#overflow {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;

    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 70); /* IE 5.5+*/
    -moz-opacity: 0.7; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.7; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.7; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 */
    z-index: 500;
    display: none;
}