.orange-menu {
    white-space: nowrap;
    font-size: 0;
}

.orange-menu > .item {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 5px 12px;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0 -1px 0 #cc7d32;
    cursor: pointer;
    color: #fff;
    background: #ff872c;
    background-image: -webkit-linear-gradient(#ffae4f, #ff5400);
    background-image: -moz-linear-gradient(#ffae4f, #ff5400);
    background-image: -o-linear-gradient(#ffae4f, #ff5400);
    background-image: linear-gradient(#ffae4f, #ff5400);
    border-width: 1px;
    border-right-width: 0;
    border-style: solid;
    border-color: #fd8800 #df6d00 #c05200;
    -webkit-box-shadow: inset 1px 1px 1px #ffcb90;
    -moz-box-shadow: inset 1px 1px 1px #ffcb90;
    box-shadow: inset 1px 1px 1px #ffcb90;
}

.orange-menu > .item:first-child {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.orange-menu > .item:last-child {
    border-right-width: 1px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.orange-menu > .item:hover {
    background-image: -webkit-linear-gradient(#ffb464, #ff7027);
    background-image: -moz-linear-gradient(#ffb464, #ff7027);
    background-image: -o-linear-gradient(#ffb464, #ff7027);
    background-image: linear-gradient(#ffb464, #ff7027);
}

.orange-menu > .item span {
    color: #fff;
}

.orange-menu > .item-current,
.orange-menu > .item:active {
    background: #ec6300;
    background-image: -webkit-linear-gradient(#ff7e00, #cf4a00);
    background-image: -moz-linear-gradient(#ff7e00, #cf4a00);
    background-image: -o-linear-gradient(#ff7e00, #cf4a00);
    background-image: linear-gradient(#ff7e00, #cf4a00);
    border-color: #c46100 #c64a00 #c84700;
    -webkit-box-shadow: inset 0 0 2px #e86500;
    -moz-box-shadow: inset 0 0 2px #e86500;
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.3);
}

.orange-menu > .item-arrow span:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: 2px;
    width: 0;
    margin: 8px 0 0 4px;
    border-top-color: #fff;
    -webkit-box-shadow: 0 -1px 1px #cc7d32;
    -moz-box-shadow: 0 -1px 1px #cc7d32;
    box-shadow: 0 -1px 1px #cc7d32;
}

.orange-menu .drop-down {
    display: none;
    position: absolute;
    right: 0;
    top: 30px;
    padding: 10px 15px;
    background-color: #FFF;
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-weight: normal;
    font-size: 13px;
    text-shadow: none;
    cursor: default;
    color: #000;
    white-space: normal;
    z-index: 3;
}

.orange-menu .drop-down .list .item {
    margin-top: 5px;
    white-space: nowrap;
}

.orange-menu .drop-down .list .item:first-child {
    margin-top: 0;
}

.orange-menu .drop-down .list .item-link {
    font-size: 13px;
    font-weight: normal;
    color: #0066cc;
    text-shadow: 0 0 0 #fff;
    text-decoration: none;
}

/**
 * WTF
 *
 * @author shpizel
 */
.orange-menu .drop-down .drop_down-present {
    left: -50%;
    width: 410px;
    padding-bottom: 15px;
}