/**
 * PhotoListItem element CSS
 *
 * @author shpizel
 */

div.content div.pictures div.title {
    font: bold italic 24px/50px Georgia;
    margin-bottom: 15px;
    text-align: center;
}

div.content div.pictures div.back {
    font-size: 24px;
}

/*div.content div.pictures div.mcpic {
    float: left;
    width: 142px;
    height: 222px;
    font-size: 11px;
}

div.content div.pictures div.mcpic img {
    padding-bottom: 9px;
}

div.content div.pictures div.mcpic div.info {
    color: #666;
    line-height: 20px;
}

div.content div.pictures div.mcpic div.link {
    display: none;
    line-height: 20px;
    font-size: 13px;
}

div.content div.pictures div.mcpic:hover {
    background: url("/bundles/encounters/images/hitlist-ramka-4.png") no-repeat;
}

div.content div.pictures div.mcpic:hover div.info {
    display: none;
}

div.content div.pictures div.mcpic:hover div.link {
    display: block;
}

div.content div.pictures div.mcpic {
    padding-left: 16px;
    padding-top: 15px;
}*/

div.content div.pictures div.photoListItem {
    float: left;
    /*width: 131px;*/
    width: 131px;
    height: 211px;
    font-size: 11px;
    position: relative;
    margin-right: 27px;
    margin-bottom: 30px;
    margin-top: 3px;
    /*margin-left: 4px;*/
}

div.content div.pictures div.photoListItem img {
    padding-top: 6px;
    padding-left: 5px;
    height: 150px;
    width: 110px;
}

div.content div.pictures div.photoListItem:hover a.close {
    height: 35px;
    width: 35px;
    position: absolute;
    right: -7px;
    top: -17px;

    background: url('/bundles/encounters/images/button-delete-decision.png');
}

/*div.ramka {
    position: absolute;
    top: 0;
    left: 0;
    width: 131px;
    height: 191px;
    background: url('/bundles/encounters/images/hitlist-ramka-2.png') no-repeat;
}*/

div.content div.pictures div.photoListItem img {
    padding-bottom: 9px;
    height: 150px;
    width: 110px;
}

div.no div.background {
    background: url('/bundles/encounters/images/background-gray.png') no-repeat;

    position: absolute;
    top: -4px;
    left: -6px;
    width: 142px;
    height: 222px;
}

div.content div.pictures div.no div.link a.ln {
    background: url('/bundles/encounters/images/button-no-decision.png');
    width:132px;
    height:30px;
    display: block;
}

div.maybe div.background, div.yes div.background {
    background: url('/bundles/encounters/images/background-orange.png') no-repeat;

    position: absolute;
    top: -4px;
    left: -6px;
    width: 142px;
    height: 222px;
}

div.content div.pictures div.maybe div.link a.ln {
    background: url('/bundles/encounters/images/button-maybe-decision.png');
    width:132px;
    height:30px;
    display: block;
}

div.content div.pictures div.yes div.link a.ln {
    background: url('/bundles/encounters/images/button-yes-decision.png');
    width:132px;
    height:30px;
    display: block;
}

div.content div.pictures div.info {
    position: absolute;
    font-size: 11px;
    left: 6px;
    bottom: 37px;
}

div.content div.pictures div.answer {
    position: absolute;
    font-size: 11px;
    left: 10px;
    bottom: 11px;
    color: #666;
}

div.content div.pictures div.link {
    position: absolute;
    font-size: 13px;
    left: -6px;
    bottom: 4px;
    color: #666;

    /*display:none;*/
}

div.content div.pictures div.link a.ln {
    background: url('/bundles/encounters/images/button-show-decision-gray.png');
    width:132px;
    height:30px;
    display: block;
}

div.content div.pictures div.new div.link a.ln {
    background: url('/bundles/encounters/images/button-show-decision-gray-new.png');
    width:132px;
    height:30px;
    display: block;
}

/*div.content div.pictures div.info a {
    float: left;
    overflow: hidden;
    max-width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/

div.pictures div.closed div.background {
    background: url('/bundles/encounters/images/background-gray.png') no-repeat;

    position: absolute;
    top: -4px;
    left: -6px;
    width: 142px;
    height: 222px;
}

/*div.pictures div:hover div.answer {*/
    /*display: none;*/
/*}*/

/*div.pictures div.closed:hover div.link {*/
    /*display: block;*/
/*}*/

div.content div.pictures div.no div.link a.ln:hover {
    background: url('/bundles/encounters/images/button-start-meeting-gray.png') no-repeat;
}

div.content div.pictures div.yes div.link a.ln:hover,
div.content div.pictures div.maybe div.link a.ln:hover {
    background: url('/bundles/encounters/images/button-start-meeting-orange.png') no-repeat;
}

div.pictures div.new div.background {

    background: url('/bundles/encounters/images/background-orange-new.png') no-repeat;
    position: absolute;
    top: -4px;
    left: -6px;
    width: 142px;
    height: 222px;
}