/**
 * Photoline element CSS
 *
 * @author shpizel
 */

div.photoline {
    height: 72px;
    overflow:hidden;

    background: url('/bundles/encounters/images/bar-bg-photoline.png') repeat-x 0 -72px;
    margin: 0px 12px 0px 5px;
}

div#photoline-info-layer {
    position: absolute;
    background: #fff;
    display:none;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    padding:10px;
    font-size: 13px;

    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.65);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.65);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.photoline div.l-rounder {
    position: absolute;
    background: #ccc;
    top: 46px;
    height: 72px;
    width: 8px;
    left: -1px;

    background: url('/bundles/encounters/images/bar-bg-photoline.png') no-repeat -0 0;
}

div.photoline div.r-rounder {
    position: absolute;
    background: #ccc;
    top: 46px;
    height: 72px;
    width: 8px;
    right:4px;

    background: url('/bundles/encounters/images/bar-bg-photoline.png') repeat-x 0 -144px;
}

div.photoline div.lenta {
    width: 120%;
    overflow:hidden;
    height: 68px;
}

div.photoline div.lenta:hover a.item img {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 70); /* IE 5.5+*/
    -moz-opacity: 0.7; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.7; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.7; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 */
}

div.photoline div.lenta a {
    /*display:block;*/
    width: 62px;
    height: 62px;

    margin: 0px 3px 6px 3px;
    /*float:left;*/
    display: inline-block;
}

div.photoline /*div.lenta*/ a.add {
    cursor: pointer;
    height: 62px;
    width: 81px;
    background: url('/bundles/encounters/images/photoline-add-2.png');
    position: absolute;
    /*display: none;*/
    z-index: 99;
    left:6px;
}

div.photoline div.lenta a img {
    width: 62px;
    height: 62px;

    border-radius: 4px;
}

div.photoline div.lenta a:hover {
    cursor: pointer;
}

div.photoline div.lenta a.item:hover img {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 100); /* IE 5.5+*/
    -moz-opacity: 1; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
    opacity: 1; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 */
}

div.photoline div.lenta a:hover img {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 100); /* IE 5.5+*/
    -moz-opacity: 1; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
    opacity: 1; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 */
}